*.log
.DS_Store

# Ignorar todos los .env excepto el de ejemplo
.env*
!.env.example

.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage

# Caches y logs de Laravel
/bootstrap/cache/
/storage/framework/
/storage/logs/
/public/mix-manifest.json

/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
